# Prisma
// Instalar o Postgres no Docker local:
docker run --name postgres -e POSTGRES_PASSWORD=docker -p 5432:5432 -d postgres

// Configuração do Docker local -> DATABASE_URL="postgresql://postgres:docker@localhost:5432/fialhocall"
// Configuração do Docker local ->  DATABASE_DIRECT_URL="postgresql://postgres:docker@localhost:5432/fialhocall"

# Google oAuth
// Dados gerados dentro do Google Cloud -> GOOGLE_CLIENT_ID=
// Dados gerados dentro do Google Cloud -> GOOGLE_CLIENT_SECRET=

# Next Auth
// URL do projeto -> NEXTAUTH_URL=
// Sequência de números aleatórios -> NEXTAUTH_SECRET=
